.checkout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background: #113c0c;
	padding-top: 10vh;
}

.checkout-container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 60%;
	height: 75%;
	border-radius: 5px;
	box-shadow: 1px 1px 50px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #e9ebee;
	color: black;
}
.subscribe-header {
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 10%;
}

.subscribe-first-text {
	text-align: center;
	font-size: 1.3rem;
	width: 70%;
	padding: 2px;
	line-height: 2rem;
}
.subscribe-second-text {
	text-align: center;
	font-size: 1.3rem;
	width: 70%;
	line-height: 2rem;
	padding-top: 5px;
	padding-bottom: 10px;
}

.subscribe-third-text {
	padding: 10px;
	text-align: center;
	font-size: 0.5rem;
}

.stripe {
	width: 75%;
	padding-bottom: 7px;
}

.subscribe-button {
	padding: 0.7rem;
	margin: 1%;
	border-radius: 0.7em;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	background-color: #5b8157;
	text-align: center;
	transition: all 0.2s;
	font-size: 0.9rem;
	border: none;
}
.subscribe-button:hover {
	background-color: #2d5d27;
}

.subscribe-loader {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 376px) {
	.checkout {
		background: #e9ebee;
	}

	.checkout-container {
		height: 85%;
		width: 70%;
	}
}
