body {
	background: #e9ebee;
	color: black;
}

.home-body {
	background: black;
	color: white;
}

.first-page {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
		url("https://live.staticflickr.com/7704/17123250059_5479539f4f_b.jpg");
	background-size: cover;
	height: 85vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	.first-text {
		color: white;
		font-weight: bold;
		font-size: 3rem;
		text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
	}
	.second-text {
		color: white;
		font-size: 1.4rem;
		padding-top: 1%;
	}
}

.second-page {
	display: flex;
	justify-content: center;
	color: white;
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 1.4rem;
}

.third-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("https://cdn-ybmzjsl4laxifkh6ogh.netdna-ssl.com/images/blogImages/7-Steps-to-financial-freedom.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60vh;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.third-page-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-third-page-text {
	padding-bottom: 5px;
	font-size: 1.9rem;
	color: black;
}

.home-button {
	padding: 1.4rem;
	margin: 1%;
	border-radius: 2em;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	background-color: #5b8157;
	text-align: center;
	transition: all 0.2s;
	font-size: 1.4rem;
	border: none;
	margin-bottom: 25px;
}
.home-button:hover {
	background-color: #2d5d27;
}

.journey-button {
	font-size: 1rem;
	padding: 1.1rem;
	border-radius: 1.6rem;
}
.footer {
	background: black;
	width: 100vw;
	height: 5vh;
}

@media (max-width: 1015px) {
	.third-page-wrap {
		padding-bottom: 60px;
	}
}

@media (max-width: 376px) {
	.first-page {
		background-position: -250px;
	}
	.second-page {
		padding-bottom: 0;
	}
	.third-page {
		height: 30vh;
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 60px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.third-page-wrap {
		padding-bottom: 0;
	}
	.journey-button {
		padding: 0.4rem;
	}
	.footer {
		height: 1vh;
	}
}
