.header {
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	background: #164c10;
	align-items: center;
}

.header-right {
	display: flex;
	justify-content: space-around;
	color: black;
	width: 17%;
}

.header-text {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}
